* {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 1100px;
}

/* Header styles */

.header {
    background-color: #e1dee8;
    padding: 12px;
}
.header h1 {
    display: inline;
    margin-left: 20px;
    font-family: 'Bellefair', serif;
    font-size: 50px;
}
.header h2 {
    display: inline;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 30px;
}

/* Main Content styles */

.main-content {
    padding: 30px;
    text-align: center;
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#BA7B90 5%, #91455E 15%, #560D25 60%);
    /* Safari 5.1-6.0 */
    background: -o-radial-gradient(#BA7B90 5%, #91455E 15%, #560D25 60%);
    /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(#BA7B90 5%, #91455E 15%, #560D25 60%);
    /* For Firefox 3.6-15 */
    background: radial-gradient(#BA7B905 5%, #91455E 15%, #560D25 60%);
    /* Standard syntax */
}
.main-content h3.main-heading {
    font-size: 24px;
}

/* About Me styles */

.about-me {
    margin-bottom: 20px
}
.about-me img {
    width: 480px;
    height: 300px;
    display: inline-block;
    border: 5px solid grey;
    margin-right: 20px;
}
.my-intro {
    width: 480px;
    height: 310px;
    display: inline-block;
    background-color: #F2F2F2;
    vertical-align: top;
}
.my-intro p.info a {
    color: #000;
}

/* Common style */

.main-content h3.main-heading,
.project-info h4.tools {
    background-color: #959396;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#BDBDBD, #A4A4A4, #585858);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#BDBDBD, #A4A4A4, #585858);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#BDBDBD, #A4A4A4, #585858);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#BDBDBD, #A4A4A4, #585858);
    /* Standard syntax */
    color: #e5e8dc;
    padding: 10px;
    text-align: left;
}
.main-content p.info {
    padding: 10px;
    font-size: 17px;
    text-align: left;
}

/* Projects styles */

.projects {
    display: block;
    width: 1040px;
    /*    margin: 0 auto;*/
}
.project-info {
    display: inline-block;
    width: 310px;
    background-color: #F2F2F2;
    vertical-align: top;
    margin: 0 15px;
}
.project-info img.project-image {
    width: 300px;
}
.project-info h4.tools {
    font-size: 16px;
}
.project-info div.logo-images {
    display: block;
    text-align: left;
    margin: 10px;
}
.project-info img.project-logo {
    width: 40px;
    height: 40px;
    display: inline;
    margin: 5px;
}
.projects button {
    color: #fff;
    background-color: green;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Footer styles */

.footer {
    background-color: #e1dee8;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}
.footer h5 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 15px;
}
.footer ul li {
    display: inline;
}
.footer ul li img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.footer a {
    color: black;
    margin-left: 5px;
}
